extends ./layout

block footer
  script(src='/assets/js/underscore-min.js')
  script(src='/assets/js/jquery-1.8.2.min.js')
  script(src='/assets/js/jquery-ui-1.9.1.custom.min.js')
  script(src='/assets/js/index.js')

block content

  include _log_out

  if !logged_in
    div(id='forms')
      p(id='show_sign_in')
        a(href="#sign_in") Log-In

      div.form(id='sign_in')
        h2 Log-in
        form(action='/sign-in', method='post')
          div.screen_name
            label(for="mask_name") Screen name:
            input.field(type='text', name="mask_name", value="")
          div.passphrase
            label(for="passphrase") Passphrase
            input.field(type='password', name="passphrase", value="")
          div.status 
            div.content
          div.submit
            button.submit Log-In
          a.cancel(href="#cancel") Cancel


      p(id='or_create_account')
        | ~ or ~

      div.form(id='create_account')
        h2 Create Account
        form(action='/create-account', method='post')
          div.screen_name
            label(for="mask_name") Screen name:
            input.field(type='text', name="mask_name", value="")
          div.passphrase
            label(for="passphrase") Passphrase
            input.field(type='password', name="passphrase", value="")
          div.confirm-passphrase
            label(for="confirm-passphrase") Confirm Passphrase
            input.field(type='password', name="confirm-passphrase", value="")
          div.email
            label(for="email") Email (in case you forget your password):
            input.field(type='text', name="email", value="")
          div.status 
            div.content
          div.submit
            button.submit Create Account


    div(id='intro') 
      h2 What is OKdoki.com?
      p 
        | Entertain your friends with:
        | <br />
        | <strong>chat</strong>, <strong>chat pets</strong>,
        | <strong>lifes</strong>, and <strong>homepages</strong>.
      div(id='footer')
        p 
          | (c) 2012-2013 OKdoki.com. Some rights reserved.
        p
          | All other copyrights belong to their respective owners.
    

  else
    div(id='intro')
      div(id='keyword')
        div.label
          | OKdoki keyword or screen-name:
        div
          input(type='text', value='', name='keyword')
          button Go

      h2 Welcome, #{screen_names.list.join(', ')}.

    div.block(id='what_you_can_do_now')
      h2 What you can do now:
      div.body 
        | You can go into chat:&nbsp;
        a(href="/chat") okdoki.com/chat

    div.block(id='homepages')
      h2 Your homepages:
      div.body 
        ul 
        for x in screen_names.list
          li <a href="/info/#{x}">okdoki.com/info/#{x}</a>
          
    div.block(id='create_screen_name')
      h2 Create Another Screen Name:
      div.body 
        p
          | Create a screen name for different aspects of your life: 
          | <span class="label">work</span>, 
          | <span class="label">school</span>, 
          | <span class="label">friends</span>, 
          | etc.
          | It helps keep your lifes private and better organized.

        form(id='form_create_screen_name', name='form_create_screen_name', method='post', action='/create/screen-name')
          div.fieldset
            input(type='text', name='new_screen_name')
            button Create 

    div.block(id='trash_e')
      h2 Delete Account:
      div.body
        p
          | All your 
          span.label screen-names
          |  and posts will be deleted within 48 hours.
          | You have this time to change your mind.
          | After 48 hours, it will be as if you never existed
          | on OKdoki.com.
        div.buttons
          button Delete Account Forever

    div.block(id='contacts')
      h2 Contacts List:
      div.body 
        - for x in screen_names.list
          div.contact 
            a(href="/info/#{x}") @#{x}
            span.value  #{x}

    div.block(id='latest')
      h2 News Feed:
      div.body 

        div.item.no_news
          | No news so far.

        div.item.news
          span.time 15 mins ago...
          span.value  SOmething Really Bad Happend
          a.read_more(href='/link/1') Link to this...
          | &nbsp;
          span.label News
          span.by      by 
          a.author(href='/info/okdoki') @okdoki

        div.item.random
          span.time 12 hours ago...
          span.value  I just got demoted.
          a.read_more(href='/link/1') Link to this...
          | &nbsp;
          span.label Random Thought
          span.by      by 
          a.author(href='/info/okdoki') @okdoki

        div.item.magazine
          span.time 1 day ago...
          span.value  My boss is in a bad mood.
          a.read_more(href='/link/1') Link to this...
          | &nbsp;
          span.label Article
          span.by      by 
          a.author(href='/info/okdoki') @okdoki

        div.item.joke
          span.time 2 days ago...
          span.value  My kids are wieners.
          a.read_more(href='/link/1') Link to this...
          | &nbsp;
          span.label Joke
          span.by      by 
          a.author(href='/info/okdoki') @okdoki

        div.item.important
          span.time 5 days ago...
          span.value  My spouse is trying to kill me.
          a.read_more(href='/link/1') Link to this...
          | &nbsp;
          span.label Important News
          span.by      by 
          a.author(href='/info/okdoki') @okdoki



