
block vars
  - var body_css = ''
  if screen_name_info.is_trashed
    - body_css += ' trashed'
  if screen_name_info.world_read
    - body_css += " world_read"
  if screen_name_info.no_one_read
    - body_css += ' no_one_read'
  if screen_name_info.specify_read
    - body_css += ' specify_read'

extends ./layout

block footer
  script(src='/assets/js/underscore-min.js')
  script(src='/assets/js/jquery-1.8.2.min.js')
  script(src='/assets/js/jquery-ui-1.9.1.custom.min.js')
  script(src='/assets/js/_base.js')
  script(src='/assets/js/Forms.js')
  script(src='/assets/js/info.js')

block content

  include _log_out

  if logged_in
    div(id='sidebar')
      if homepage_belongs_to_viewer

        div.intro
          span.label Delete Screen-name
        div.options
          form(id="form_trash_screen_name", method="POST", action="/trash/screen_name/#{screen_name}")
            if screen_name_info.is_trashed
              div.success #{screen_name_info.trash_msg}
            div.fields
              div.field.buttons
                input.field(type='hidden', name="_csrf", value="#{token}")
                button.submit Delete
                button.unsubmit Un-delete

        div.intro
          span.label Edit Your Homepage
        div.options
          div.opt.privacy
            span.value Who can see it?
            form(id="form_homepage_priv", method="POST", action="/update/homepage/priv/#{screen_name}")
              div.fields
                div.field
                  select.menu_priv(id='control_priv', name="read_able")
                    option(value='W') The World
                    option(value='N') No one, but me.
                div.field.specify
                  textarea(name="read_able_list", rows='3')
                div.field.buttons
                  input.field(type='hidden', name="_csrf", value="#{token}")
                  button.submit Update


      else
        - for x in screen_names.list
          div.screen_name
            div.name
              span.label As:
              span.value &nbsp;#{x}
            div.options
              div.opt.add_to_address_book
                input(type='checkbox', value='add_to_address_book')
                span Add To Address Book
              div.opt.sub_e
                input(type='checkbox', value='sub_e')
                span Subscribe (Everything)
              div.opt.sub_i
                input(type='checkbox', value='sub_i')
                span  Subscribe (Important News Only)
              div.opt.hate
                input(type='checkbox', value='hate')
                span Block!
              div.opt.keywords
                span.value Keywords:
                span.value  (optional. Ex: friend family classmate)
                textarea(rows='3')
                div.buttons
                  button Save

  div(id='intro')
    h2 #{life_name}
    div
      span.label Name:&nbsp;
      span Go 99

    div
      span.label OKdoki screen-name:&nbsp;
      span #{life_name}


  if logged_in && homepage_belongs_to_viewer
    div.block(id='create_content')
      h2 Post/Write Something:
      div.body
        p.intro
          | You can write and post content to your homepage.
        button(id='show_form_create_content') Start Writing
        form(id='form_create_content', action="/post")

          div.fieldset
            div
              span.label Type of Post:
            select
              option Random Thought
              option Status/Location/Travel Update
              option Event
              option Emergency
              option Full Article

          div.fieldset.title
            div
              span.label Title:
            input(name="title", type="text", value="")
          div.fieldset
            div
              span.label Body:
            textarea(rows='5')
          div.fieldset
            div
              span.label Other Keywords:
              span.value (optional)
            input(name="keywords", type="text", value="")

          div.fieldset
            div.opt.privacy
              span.value Who can see it?
              select(id='control_priv')
                option(value='the_world') The World
                option(value='no_one') No one, but me.
                option(value='specify') Let me specify:
              div.specify(id='control_priv_specify')
                textarea(rows='3')
                div.buttons
                  button Save

          div.buttons
            button Save and Post

  div.block(id='about')
    h2 About Me:
    div.body
      | Nothing yet. I'm a very private person.

  div.block(id='qa')
    h2 Q&A:
    div.body
      | Nothing yet.
      if logged_in
        div.fieldset
          textarea.blurred(rows='3') Type your question here.
        div.buttons
          button Ask

  div.block(id='boos')
    h2 Cheers & BOOs:
    div.body
      | Nothing yet.
      if logged_in && !homepage_belongs_to_viewer
        div.fieldset
          select
            option Boo this person:
            option Cheer this person:
        div.fieldset
          textarea.blurred(rows='3') Type your reason here.
        div.buttons
          button Save

  div.block(id='latest')
    h2 Latest:
    div.body
      | Nothing yet.
