extends ./layout

block footer
  script(src='/App/js/underscore-min.js')
  script(src='/App/js/jquery-1.8.2.min.js')
  script(src='/App/js/jquery-ui-1.9.1.custom.min.js')
  script(src='/App/js/_base.js')
  script(src='/App/js/Forms.js')
  script(src='/App/objects/Contacts.js')
  script(src='/App/objects/Heart_Beep.js')
  script(src='/App/js/chat.js')

block content

  div(id='chatroom')

    div(id='output')

      div(id='messages')
        div(id='notifys')
        div(id='msgs')

    div(id='input')

      include _log_out

      div(id='create_msg')
        form(id="form_create_post", action="/posts", method='POST')
          div.fields
            div.field.msg
              textarea.blur_ed(name="msg", id='the_msg', rows='4') ;-)~ Type here.
            - if (lifes.length > 1)
              div.field
                //- span.label From:&nbsp;
                //- span.value #{aud.data.screen_name_rows[0].screen_name}
                div.label From:
                select(name='from')
                  - for x in aud.data.screen_name_rows
                    option(value='#{x.screen_name}') #{xscreen_name}

        div.buttons
          - if (lifes.length === 1)
            input(type="hidden", name="from", value="#{lifes[0]}")
          input(id='csrf_token', type="hidden", name="_csrf", value="#{token}")
          button.submit Send Message

      div(id='chatters')

        div.contacts
          h2 Contacts who are online and available:
          div.loading
            | Loading...
          div.no_records
            | None.
          div.records


      //
        div(id='about_bar')
          div.section(id='about')
            h2 About this page:
            p
              | It's is a chat room filled with chat bots that can help
              | you in your daily, boring tasks. They can also provide you with
              | entertainment when your friends are too busy or too boring.

          div.section(id='help')
            h2 Help

            p To activate a bot, type:
            code @Bot.Name You may live.

            p To de-activate a bot, type:
            code @Bot.Name Drop dead.

            p To temporarily quiet a talkative bot for 30 minutes:
            code @Bot.Name Take a nap.

            p To view a chat bot's manual:
            code @Bot.Name I need help.

          div.section(id='genius')
            h2 Geniuses

            a(href="https://github.com/da99/okdoki") Make a Bot.


      //- div.form(id='sign_in')
        //- h2 Sign-in
        //- form(action='/sign-in', method='post')
          //- div.screen_name
            //- label(for="screen_name") Screen name:
            //- input.field(type='text', name="screen_name", value="")
          //- div.passphrase
            //- label(for="passphrase") Passphrase:
            //- input.field(type='password', name="passphrase", value="")
          //- div.status
            //- div.content
          //- div.buttons
            //- button.submit Sign-In
            //- a.cancel(href="#cancel") Cancel

      //- div.form(id='create_account')
        //- h2 Create Account
        //- form(action='/create-account', method='post')
          //- div.screen_name
            //- label(for="screen_name") Screen name:
            //- input.field(type='text', name="screen_name", value="")
          //- div.passphrase
            //- label(for="passphrase") Passphrase
            //- input.field(type='password', name="passphrase", value="")
          //- div.confirm-passphrase
            //- label(for="confirm-passphrase") Passphrase
            //- input.field(type='password', name="confirm-passphrase", value="")
          //- div.status
            //- div.content
          //- div.buttons
            //- button.submit Create Account
            //- a.cancel(href="#cancel") Cancel

      //- div.field
        //- span.label To:
        //- select(name='to', id='to')
          //- option(value='the_world', selected='selected') The World.
          //- option(value='choose_recip') Let me specify recipients:
        //- div(id='enter_recip')
          //- input.field(name='recips', id='recips', type='text', value="")
          //- div
            //- span.label Example:&nbsp;
            //- span.value friends family @okdoki @okdoki-pet
