extends ./layout

block footer
  script(src='/assets/js/underscore-min.js')
  script(src='/assets/js/jquery-1.8.2.min.js')
  script(src='/assets/js/jquery-ui-1.9.1.custom.min.js')
  script(src='/assets/js/article.js')

block content

  include _log_out
  div(id='sidebar')
    div.intro
      span.label Type:
      span.value  #{article.post_type}

    div.intro
      span.label Published on:
      span.value  5 mins ago

    if logged_in && homepage_belongs_to_viewer
      div.intro
        span.label Delete Article
      div.options
        div.opt.trash
          span
            | You have 48 hours to change
            | your mind.
          div.buttons
            button Delete

      div.intro
        span.label Edit Privacy

      div.options
        div.opt.privacy
          span.value Who can see it?
          select(id='control_priv')
            option(value='the_world') The World
            option(value='no_one') No one, but me.
            option(value='specify') Let me specify:
          div.specify(id='control_priv_specify')
            textarea(rows='3')
            div.buttons
              button Save

  div(id='intro')
    h2 #{article.title}
    div
      span.label OKdoki Keywords:&nbsp;
      span #{article.keywords}
    div
      span.label Author:
      span
        a(href='/info/#{article.author}/') #{article.author}


  if logged_in && homepage_belongs_to_viewer
    div.block(id='update_content')
      div.body
        button(id='show_form_update_content') Edit This
        form(id='form_update_content', action="/post")
          div.fieldset.title
            div
              span.label Title:
            input(name="title", type="text", value="#{article.title}")
          div.fieldset
            div
              span.label Body:
            textarea(rows='5') #{article.body}
          div.fieldset
            div
              span.label Main Keyword:
            select
              option my-life
              option jokes
              option events
              option emergency
          div.fieldset
            div
              span.label Other Keywords:
              span.value (optional)
            input(name="keywords", type="text", value="#{article.custom_keywords}")

          div.fieldset
            div.opt.privacy
              span.value Who can see it?
              select(id='control_priv')
                option(value='the_world') The World
                option(value='no_one') No one, but me.
                option(value='specify') Let me specify:
              div.specify(id='control_priv_specify')
                textarea(rows='3')
                div.buttons
                  button Save

          div.buttons
            button Update/Save

  div.block(id='article_body')
    div.body #{article.body}

  div.block(id='qa')
    h2 Q&A:
    div.body
      p No questions posted yet.
      if logged_in && !homepage_belongs_to_viewer
        button(id='follow_article') Follow Q&A
      if logged_in
        div.fieldset
          textarea.blurred(rows='3') Type your question here.
        div.buttons
          button Ask

  div.block(id='boos')
    h2 Cheers & BOOs:
    div.body
      | Nothing yet.
      if logged_in && !homepage_belongs_to_viewer
        div.fieldset
          select
            option Boo this person:
            option Cheer this person:
        div.fieldset
          textarea.blurred(rows='3') Type your reason here.
        div.buttons
          button Save

